<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="stsim-roads" displayName="Simulates the development of harvest road networks." version="1.0.0" configVersion="2.0000" url="https://github.com/LandSciTech/stsim-roads">
    <transformers>
      <transformer name="stsim-roads" displayName="ST-Sim Roads" isAddOn="True" extendsPackage="stsim">
        <runtime>
          <transformer name="stsim-roads:runtime"/>
        </runtime>
      </transformer>
      <transformer name="stsim-roads:runtime" displayName="ST-Sim Roads" extendsTransformer="stsim:runtime" userRunnable="True" runOrder="After" externalProgramName="RScript" externalScriptName="transformer.R">
        <datafeeds>
          <datafeed name="stsim-roads:roads" displayName="Roads" dataScope="Scenario">
            <datasheets>
              <datasheet name="ROADS_Roads" displayName="Roads" isSingleRow="True">
                <columns>
                  <column name="RoadID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="RoadTransitionGroup" displayName="Road Transition Group" dataType="Integer" validationType="Datasheet" formula1="STSim_TransitionGroup"/>
                  <column name="InitialRoadRaster" displayName="Initial Road Raster" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="CostRaster" displayName="Cost Raster" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="RoadBuildingAlgorithm" displayName="Road Building Algorithm" dataType="Integer" validationType="List" formula1="0:Snapping|1:Minimum Spanning Tree|2:Sequential Least Cost Path"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <group name="ST-Sim Roads">
          <item name="stsim-roads:roads"/>
        </group>
      </layout>
    </layouts>
  </package>
</configuration>
