<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="stsim-roads" displayName="Simulates the development of road networks." version="1.0.0" configVersion="2.0000" url="https://github.com/LandSciTech/stsim-roads">
    <transformers>
      <transformer name="stsim-roads" displayName="ST-Sim Roads Add-On" isAddOn="True" extendsPackage="stsim">
        <runtime>
          <transformer name="stsim-roads:runtime"/>
        </runtime>
      </transformer>
      <transformer name="stsim-roads:runtime" displayName="Road Network" extendsTransformer="stsim:runtime" userRunnable="True" runOrder="After" externalProgramName="C:\Program Files\R\R-3.5.2\bin\Rscript.exe" externalScriptName="transformer.R" className="SyncroSim.StochasticTime.StochasticTimeTransformer" classAssembly="SyncroSim.StochasticTime" configurationSheet="STSim_RunControl">
        <datafeeds>
          <datafeed name="stsim-roads:road" displayName="Roads" dataScope="Scenario">
            <datasheets>
              <datasheet name="ROADS_Road" displayName="Roads" isSingleRow="True">
                <columns>
                  <column name="RoadID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="RoadTransitionGroup" displayName="Road Transition Group" dataType="Integer" validationType="Datasheet" formula1="STSim_TransitionGroup"/>
                  <column name="InitialRoadRaster" displayName="Initial Road Raster" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="CostRaster" displayName="Cost Raster" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="RoadBuildingAlgorithm" displayName="Road Building Algorithm" dataType="Integer" validationType="List" formula1="0:Snapping|1:Minimum Spanning Tree|2:Sequential Least Cost Path"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-roads:transition-raster" displayName="Transition Maps" dataScope="Scenario">
            <datasheets>
              <datasheet name="ROADS_TransitionRaster">
                <columns>
                  <column name="TransitionMapID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d"/>
                  <column name="Timestep" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="Filename" dataType="String" displayName="Transition Map" isExternalFile="True" isRaster="True" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-roads:output-raster" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="ROADS_OutputRaster">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Filename" displayName="Road Map" dataType="String" isExternalFile="True" isRaster="True" bandColumn="Band" allowDbNull="False" filenameCode="rdr"/>
                  <column name="Band" dataType="Integer" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="stsim-roads:raster-export" displayName="Roads" className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms" dataSheet="ROADS_OutputRaster" column="Filename" isFolderExport="True">
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <group name="ST-Sim Roads">
          <item name="stsim-roads:road"/>
          <group name="Landscape Maps">
            <item name="stsim:output-spatial-transition-datafeed" displayName="From Model"/>
            <item name="stsim-roads:transition-raster" displayName="Manually Entered"/>
          </group>
        </group>
      </layout>
      <layout name="system-forms:result-transformers" appendTo="Export|Maps">
        <item name="stsim-roads:raster-export"/>
      </layout>
      <layout name="stime:maps">
        <group name="Roads">
          <item name="rdr" displayName="Road Maps" dataSheet="ROADS_OutputRaster" column="Filename"></item>          
        </group>
      </layout>
    </layouts>
  </package>
</configuration>
